{% extends "base.html" %}

{% block content %}
    <h3>{{ title }}</h3></br>
    {% if form %}
        <form method="POST" action="/iris_submit" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.file.label }} {{ form.file(size=20) }}
            <input type="submit" value="Go">
        </form>
    {% endif %}
    {% if services %}
        {% for service in services %}
            <div><p><a href={{ service.service.link }}>{{ service.service.name }}</a></p></div>
            {% if service.service.form %}
                <form method="POST" action="/iris"+{{service.service.form.name}}>
                    {{ service.service.form.csrf_token }}
                    {{ service.service.form.name.label }} {{ service.service.form.name(size=20) }}
                    <input type="submit" value="Go">
                </form> 
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form_input %}
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name(size=20) }}
            <input type="submit" value="Go">
        </form>
    {% endif %}
    {% if image %}
        {{ image }}
    {% endif %}
{% endblock %}